<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.fjnu.cse.lostandfound">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="edu.fjnu.cse.lostandfound.activity.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_long"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="edu.fjnu.cse.lostandfound.activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="edu.fjnu.cse.lostandfound.activity.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="edu.fjnu.cse.lostandfound.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="edu.fjnu.cse.lostandfound.activity.DetailActivity" />
        <activity
            android:name="edu.fjnu.cse.lostandfound.activity.PublishActivity"
            android:label="@string/title_activity_publish"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>